body {
  font-family: "Roboto", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
.markdown-body table td,
.markdown-body table th {
  font-family: "Roboto", sans-serif !important;
}

h1 {
  font-weight: 900 !important;
}

h2 {
  font-weight: 700 !important;
  color: #555;
  padding-top: 20px;
}

a {
  font-weight: 900;
}

a:focus {
  font-weight: 900;
}

details {
  margin-top: 30px;
  margin-left: 15px;
}

summary {
  font-weight: bold;
  margin-bottom: 8px;
}

.hover {
  cursor: pointer;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-25 {
  margin-left: 25px;
}

.faq-indent {
  margin-left: 20px;
  margin-right: 20px;
}

.dark-link {
  color: #ccc !important;
}

th {
  color: #000 !important;
}

.aria-hidden {
  display: none;
}

.screenreader-text {
  position: absolute;
  /* left: -999px;
  width: 1px;
  height: 1px;
  top: auto; */
  display: none;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.skiplink {
  position: absolute;
  top: 5px;
  border: 0 none;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  font-size: 14px;
  font-weight: 900 !important;
}
.skiplink:focus {
  clip: auto;
  height: auto;
  position: 0px;
  z-index: 100000;
  width: auto;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: 900 !important;
}

*:focus {
  border: 3px solid #000;
  font-weight: 900;
}

.card-link {
  text-decoration: none;
  color: #000 !important;
}

/* .card-link:focus {
  border: 3px solid #000 !important;
} */

.info-card:hover,
.event-card:hover,
.news-card:hover,
.hub-card:hover {
  box-shadow: 0px 0px 25px #000000;
  z-index: 2;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.04);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.04);
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.04);
  transition: all 100ms ease-in;
  transform: scale(1.04);
  cursor: pointer;
}

.v-application a {
  color: #000;
}
